<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<!-- Activation de la detection des beans de spring ex @Component, @Repository -->

	<context:component-scan
		base-package="com.intiformation.appschool" />


	<!-- ====================================================== -->
	<!-- ======== Emplacement des fichiers propriétés ========= -->
	<!-- ====================================================== -->
	<context:property-placeholder
		location="classpath:db.properties" />

	<!-- ====================================================== -->
	<!-- ======== Déclaration du Bean de la DataSource ======== -->
	<!-- ====================================================== -->
	<bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="${db.driverClassName}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
	</bean>

	<!-- ====================================================== -->
	<!-- ========== Déclaration bean sessionFactory =========== -->
	<!-- ====================================================== -->

	<!-- > Spring propose une implémentation de la sessionFactory d'hibernate 
		nommé 'LocalSessionFactoryBean' -->
	<bean id="sessionFactoryBean"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">

		<!-- injection du bean de la datasource "dataSourceBean" dans le bean de 
			la sessionFactory -->

		<property name="dataSource" ref="dataSourceBean" />

		<!-- definition des proprietes d'hibernate -->

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${db.hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${db.hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${db.hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>

		<!-- declaration des classes entités annotés avec @Entity de mapping -->
		<property name="annotatedClasses">
			<list>
				<value>com.intiformation.appschool.modeles.Matiere</value>
				<value>com.intiformation.appschool.modeles.Promotion</value>
				<value>com.intiformation.appschool.modeles.EnseignantMatierePromotionLink</value>
			</list>
		</property>
	</bean>


	<!-- activation de la detection des annotations des transactions ex @Transactional -->

	<tx:annotation-driven
		transaction-manager="transactionManagerBean" />

	<bean id="transactionManagerBean"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<!-- injection du bean de la session factory "sessionFactoryBean" dans 
			le gestionnaire des txs -->
		<property name="sessionFactory" ref="sessionFactoryBean" />
	</bean>

	<!-- Config des annotations -->

	<context:annotation-config />

	<!-- détection des composants de spring -->

	<context:component-scan
		base-package="com.intiformation.appschool"></context:component-scan>



</beans>