@charset "ISO-8859-1";
#titre{
	margin-top: 25px;	
	font-weight: bold;
	color: #ffffff;
	float: left;
}

#connexion{
	margin-top: 35px;
	float: right;
	color: white;
}

#divhaute{
	height: 120px;
	background-color: #d6cc10;
	border-bottom: 1px solid #c0c0c0;
}

#sidebar{
	float: left;
	border-right: 1px solid #dddddd;
}

.stylenavbar{
	background-color: light-gray;
}

#navig{
	padding-top: 40px;
}

#navul{
	padding-bottom: 20px;	
}

#accueil{
	font-size:18pt;
}

.navli{
	padding-top: 20px;
}

.navicon{
	margin-bottom: 10px;
	margin-right:5px;
}

#copyright{
	margin-top : 100px;
	color: #bcbcbc;
	font-size:10pt;
}