@charset "ISO-8859-1";

#titre{
	margin-top: 25px;	
	font-weight: bold;
	color: #ffffff;
	float: left;
}

#connexion{
	margin-top: 35px;
	float: right;
	color: white;
}

#divhaute{
	height: 120px;
	background-color: #d6cc10;
	border-bottom: 1px solid #c0c0c0;
}


/*===================== SIDEBAR ==================================*/

.sidebar{
    float:left;
	width: 300px;
	height: 100vh;
    background: #f5f5f5 ;

    border-right: 0.5px solid lightgray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;

    color: darkgray;

    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center left; /* Set the transformed position of sidebar to center left side. */
    
}

#sidebar.active {
    margin-left: -300px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}

/*
@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
*/

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

.toggler{
    border: none;
    color:darkgray;
    margin: 15px 0;

}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    border-radius: 10px;
}

/*==========================================================*/



#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

#sidebarCollapse span:first-of-type {
    /* rotate first one */
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    /* second one is not visible */
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    /* rotate third one */
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    /* no rotation */
    transform: none;
    /* all bars are visible */
    opacity: 1;
    margin: 5px auto;
}


/*---------------- sidebar Header -------------------------*/
.sidebar-header{

    margin: 10px 10px;
    padding: 5px 5px;

    text-align: center;
    font-size: 30px;
    border: solid 1px lightgray;
    border-radius: 15px;
}

.sidebar-header a{
    text-decoration: none;
    color: darkgray;
    transition: all 0.2s ease-in-out;
}


.sidebar-header a:hover{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;

}


/*---------------- sidebar Links -------------------------*/

.sidebar-links{
    font-size: 22px;
    list-style: none;
    text-align: center;
}

.sidebar-links a{
    margin: 15px 15px;
    text-decoration: none;
    color: darkgray;
    transition: all 0.2s ease-in-out;
}
.sidebar-links a:hover{
    text-decoration: none;
    color: darkgray;
    font-weight: bold;

}






/*===================== FOOTER ==================================*/
.footer{

	background: rgb(192,192,192);
	background: linear-gradient(180deg, rgba(192,192,192,1) 0%, rgba(255,255,255,1) 56%); 
	min-width : 100%; 
	height:10vh;
	padding:15px 50px 20px 50px; 
	text-align:center;
	}